<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Display Page</title>

	<!-- Use CSS files -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
	<!-- Load JavaScript files -->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <style type="text/css">
        </style>
    </head>
    <body>
        <label>Hello {{user}}</label>
        <div class="container">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{{ url_for('main', user=user, password=password) }}">Main</a></li>
                <li role="presentation"><a href="{{ url_for('upload', user=user, password=password) }}">Upload</a></li>
                <li role="presentation"><a href="{{ url_for('key', user=user, password=password) }}">Get image by key</a></li>
                <li role="presentation"><a href="{{ url_for('display', user=user, password=password) }}">Display</a></li>
                <li role="presentation"><a href="{{ url_for('search', user=user, password=password) }}">Search</a></li>
                <li role="presentation"><a href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </div>

        <div class="container">
            <h2>Display Page</h2>
	    <p>Display all the available keys and delete all keys and show the user storage used</p>
	</div><br>
        <div class="container">
	        <h3>Storage used</h3>
	     <ul>
             <li>Storage used: {{ storage_used }} bytes</li>
             <li>Storage available: {{ storage_available }} bytes</li>
         </ul>
	    </div>


	<div class="container">
	  <h3>Available Keys</h3>
	  <ul>
	    {% for k in keys %}
	    <li>{{ k }}</li>
	    {% endfor %}
	  </ul>
	</div>

	<div class="container">
	  <a href="{{ url_for('list_keys', user=user, password=password) }}">List all keys in the dynamodb</a><br>
        <a><form action="{{ url_for('delete_single_key', user=user, password=password) }}" method="post" enctype = multipart/form-data>
                <table align="center">
                    <tr>
                        <td>
                            <label>Enter the key of the image you want to delete (Be careful, this is not revertable)</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <label>Key of the image:</label>
                            <input type="text" name="key"/><br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="delete" />
                        </td>
                    </tr>
                </table>
            </form></a><br>
        <a><form action="{{ url_for('delete_all_keys', user=user, password=password) }}" method="post" enctype = multipart/form-data>
                <table align="center">
                    <tr>
                        <td>
                            <label>Delete all keys you have (Be careful, this is not revertable)</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="delete all keys" />
                        </td>
                    </tr>
                </table>
            </form></a><br>
	</div>
    </body>
</html>