<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
        <div class="container">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{{ url_for('signup')}}">Signup</a></li>
                <li role="presentation"><a href="{{ url_for('login')}}">Login</a></li>
            </ul>
        </div>

        <div class="container">
            <form action="{{ url_for('user_login')}}" method="post" enctype = multipart/form-data>
                <table align="center">
                    <tr>
                        <td>
                            <label>User login</label><br>
                            <label>Enter username and password:</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <label>Username:</label>
                            <input type="text" name="user"/>
                        </td>
                    </tr>

                    <tr>
                        <td align="center">
                            <label>Password:</label>
                            <input type="text" name="password"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="log in" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

</body>
</html>
