.row{
  background-color: #f5f5f5;
}
.col-md-2 ul{
  padding-top: 10%;
}
#us{
	float: right;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
  color: #0071c5;
}

h1, h2, h3 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

a {
  color: #0071c5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.btn {
  border: 2px solid #4682B4;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left:20px;
  padding: 0.5em 1em;
  background-color: #0071c5;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: #005c99;
  color: white;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #0071c5;
  color: #fff;
  padding: 1em;
}

header a {
  color: #fff;
}

header a:hover {
  color: #0071c5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #0071c5;
}

main {
  padding: 2em;
}

.submitbt {
  width: 100%;
  height: 130%;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 5px;
}
        
table {
  border-collapse: collapse;
  width: 100%;
  height: 60%;
  margin-top: 30px;
}

table th {
  text-align: left;
  background-color: #337ab7;
  color: white;
}

table tr td {
  padding-bottom: 20px;
}

.container {
	max-width: 1200px; /* set the maximum width for the container */
	margin: 0 auto; /* center the container */
}

.nav-tabs {
	font-family: Arial;
	font-weight:bold;
	list-style: none; /* remove the default bullet points */
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ddd; /* add a bottom border */
	border-radius: 5px;
	background-image: linear-gradient(to right, rgba(100,200,255,1), rgba(0,255,255,0));
}

.nav-tabs li {
	display: inline-block; /* display the list items in a row */
	margin-right: 10px; /* add some space between the list items */
}

.nav-tabs li a {
	display: block; /* make the links full width */
	padding: 10px; /* add some padding around the links */
	text-decoration: none; /* remove the underline */
	color: #333; /* set the link color */
}

.nav-tabs li a:hover {
	background-color: #0096FF; /* add a hover effect */
	border-radius: 5px;
}
